.blog-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.blog-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-content {
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
